    html,
    body {
      background: #e9ebee;
      height: 100%;
      margin: 0;
    }

    a:link {
      text-decoration: none;
    }

    a:visited {
      text-decoration: none;
    }

    a:hover {
      text-decoration: none;
    }

    a:active {
      text-decoration: none;
    }

    * {
      font-family: Raleway, sans-serif;
    }

    .container-box {
      
      width: 100%;
      height: 100%;
      display: grid;
      /* grid-template-columns: auto 100px; */
      grid-template-rows: 40px 1fr;
      grid-template-areas:
        'header header'
        'main aside'
        'footer footer'
      ;
    }
/* button{
  float: left;
} */
    .header {
      grid-area: header;
      background: linear-gradient(270deg, #5D54A4, #6A679E);
    }

    .main {
      
      grid-area: main;
      display: grid;
      grid-template-columns: 260px minmax(100px, 1fr) 280px;
      grid-template-rows: auto;
      grid-template-areas: 'menu feed event sugestoes';
      grid-gap: 10px;
      padding: 10px 70px;
    }

    .aside {
      grid-area: aside;
      border-left: 2px solid #ccc;
    }

    .menu {
      grid-area: menu;
      background: #fff;
      padding-left: 15px;
    }
textarea {
    resize: none;
    width: 100%;
}
.hidden {
    visibility: hidden;
}
    .feed {
      
      grid-area: feed;
      background: #fff;
    }
 
    .event {
      grid-area: event;
      background: #fff;
    }
.post>button {
  float: left;
}

.comentario>button {
  float: left;
}


    .post {
      flex-wrap: wrap;
      padding-top: 80px;
      padding-right: 80px;

      padding-left: 80px;

      font-size: 16px;
      font-family: Calibri;
      border-left: solid;
    border-color: #5D54A4;

      margin-bottom: 30px;
      /* border-width: 6px; */


    }
form>button{
  float: left;
}
    .comentarios {
      flex-wrap: wrap;
      padding-top: 20px;
      padding-right: 20px;

      padding-left: 20px;
      padding-bottom: 20px;

      /* padding-bottom: 20px; */
      font-size: 14px;
      font-family: Calibri;
      /* border: solid;
    border-color: #000; */
      /* border-radius: px; */
      background-color: #ECEAFC;
      margin-bottom: 5px;
      margin-top: 5px;
      /* margin-left: 10px; */
      /* margin-right: 10px; */


      /* border-width: 3px;  */


    }

     .sugestoes {

      grid-area: sugestoes;
      background: #fff;
      height: max-content;
    }

    #comentarios2 {
      padding: 50px;
      padding-top: 20px;
      padding-bottom: 20px;
      font-size: 14px;
      font-family: Calibri;
      /* border: solid;
    border-color: #000; */
      /* border-radius: px; */
      background-color: #dbd7fc;
      margin-bottom: 10px;
      /* border-width: 3px;  */


    }

    #postar {
      padding: 80px;
      font-size: 16px;
      font-family: Calibri;
      border-left: solid;
      border-color: #5D54A4;
      margin-bottom: 30px;
      border-width: 6px;


    }

    #nome {
      font-weight: bold;
      padding: 20px;
      font-size: 18px;

    }

    #data {
      font-size: 12px;
      font-weight: normal;
    }

    .reactions {
      padding-top: 20px;
      padding-right: 20px;

      padding-left: 20px;
      padding-bottom: 20px;

      /* margin-bottom: 10px; */
      /* margin-top: 10px; */
      margin-left: 10px;
      margin-right: 10px;
      background-color: #5D54A4;
      color: #fff
    }

    .reactions2 {
      /* margin-top: 30px; */
      background-color: #5D54A4;
      color: #fff

    }
    .reactions>button {
      /* margin-top: 30px; */
      float: left;
      
    }

    #coment {
      margin-top: 30px;
    }

    .conteudo {
      padding: 10px;
      /* border: solid; */
      /* border-color: #000;  */
      /* border-radius: 17px;  */
      /* border-width:1px;  */

    }

    #assuntos {
      color: #5D54A4;
    }

    .assuntos2 {
      color: #fff;
    }

    #add {
      color: #5D54A4;
    }

    .centro {
    text-align: center;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
}

.button-filho {
    align-self: center;
    border: 1px solid red;
}