html,
body {
    background: #e9ebee;
    height: 100%;
    margin: 0;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

* {
    font-family: Raleway, sans-serif;
}

.container-box {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto 200px;
    grid-template-rows: 40px 1fr;
    grid-template-areas:
        'header header'
        'main aside'
    ;
}

button {
    float: left;
}

.header {
    grid-area: header;
    background: linear-gradient(270deg, #5D54A4, #6A679E);
}

.main {
    grid-area: main;
    display: grid;
    width: 100%;
    grid-template-columns: 150px 100%;
    grid-template-rows: auto;
    grid-template-areas: 'menu feed';
    grid-gap: 10px;
    padding: 10px 20px;
}

textarea {
    resize: none;
    width: 100%;
}

.hidden {
    visibility: hidden;
}


.aside {
    grid-area: aside;
    border-left: 2px solid #ccc;
}

.menu {
    grid-area: menu;
    background: #fff;
}

.feed {
    grid-area: feed;
    background: #fff;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

.event {
    grid-area: event;
    background: #fff;
}

.post {
    flex-wrap: wrap;
    padding-top: 80px;
    padding-right: 80px;

    padding-left: 80px;

    font-size: 16px;
    font-family: Calibri;

    margin-bottom: 30px;
}

.comentarios {
    flex-wrap: wrap;
    padding-top: 20px;
    padding-right: 20px;

    padding-left: 20px;
    padding-bottom: 20px;

    font-size: 14px;
    font-family: Calibri;
    background-color: #ECEAFC;
    margin-bottom: 5px;
    margin-top: 5px;
}

#comentarios2 {
    padding: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 14px;
    font-family: Calibri;
    background-color: #dbd7fc;
    margin-bottom: 10px;
}

#postar {
    padding: 80px;
    font-size: 16px;
    font-family: Calibri;
    border-left: solid;
    border-color: #5D54A4;
    margin-bottom: 30px;
    border-width: 6px;
}

#nome {
    font-weight: bold;
    padding: 20px;
    font-size: 18px;

}

#data {
    font-size: 12px;
    font-weight: normal;
}

.reactions {
    padding-top: 20px;
    padding-right: 20px;

    padding-left: 20px;
    padding-bottom: 20px;

    margin-left: 10px;
    margin-right: 10px;
    background-color: #5D54A4;
    color: #fff
}

.reactions2 {
    background-color: #5D54A4;
    color: #fff
}

#coment {
    margin-top: 30px;
}

.conteudo {
    padding: 10px;
}

#assuntos {
    color: #5D54A4;
}

.assuntos2 {
    color: #fff;
}

#add {
    color: #5D54A4;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.centro {
    text-align: center;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    /* align-content: center; */
    /* align-self: center; */
    /* justify-content: center; */
}

.centro div {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-self: center;
}

.button-filho {
    align-content: center;
    border: 1px solid red;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}